---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Streak blog</title>
  <link href="{{ site.url }}/blog/feed.xml" rel="self" />
  <link href="{{ site.url }}/blog/" />
  <id>{{ site.url }}/blog/</id>
  <updated>{% if collections.posts.length %}{{ collections.posts[0].date.toISOString() }}{% endif %}</updated>
  <author><name>InlitX</name></author>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}" />
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date.toISOString() }}</updated>
    <summary>{{ post.data.description }}</summary>
  </entry>
  {% endfor %}
</feed>
